<!DOCTYPE HTML>
<html>
    <div class="form_div">
	<h3>Central Tool DB</h3>
	    <form method="POST" action="/select_act">
		  <input type="submit" value="Neuer Datensatz" name="act">
        <input type="submit" value="Datensatz bearbeiten" name="act">
		  <input type="submit" value="Datensatz ansehen" name="act">
	    </form>
     </div>	
</html>
