<!DOCTYPE HTML>
<html>
    <div class="form_div">
	<h3>Central Tool DB</h3>
   <p id="act">Neuer Datensatz</p>
   <p>Select blue print: <select id="blue_print" onchange="singleSelectChangeText(id)"><option>---</option></select>
	<form method="POST" action="/select_bp">
        <input type="hidden" id="selected" name="selected"> 
        <input type="submit" value="Next" name="act">
   </form>
   </div>	
   <script type="text/javascript">
   var groups = '<%= $blue_print%>';
   var act = '<%= $act%>';   
   document.getElementById('act').innerHTML = act; 
   groups = JSON.parse(groups);
   create_dropdown(groups)
                           function create_dropdown(groups){
                           var select = document.getElementById("blue_print");
                           for (var i = 0; i<groups.length; i++) {
                                   var el = document.createElement("option");
                                   el.textContent = groups[i];
                                   el.value = i;
                                   select.appendChild(el);
                            } }
                            function singleSelectChangeText(id) {
                                 var selObj = document.getElementById(id);
                                 var selValue = selObj.options[selObj.selectedIndex].value;
                                 document.getElementById('selected').value = selValue;
                            }
   </script>
</html>
